@import 'tailwindcss';
@plugin "@tailwindcss/forms";

:focus:not(:focus-visible) {
	outline: none;
}

body {
	@apply bg-gray-900 text-gray-100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply cursor-default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
}

input[type='number'] {
	-moz-appearance: textfield;
}

option {
	@apply bg-gray-700;
}
