.Calc {
	.result {
		font-size: 1.3em;
	}

	.location-btn {
		padding: 0.375rem 0.75rem;
		border: none;
		background-color: inherit;
		color: inherit;

		.loading {
			display: inline-block;
			animation: pulse 2s infinite;
		}

		@keyframes pulse {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.2);
			}
			100% {
				transform: scale(1);
			}
		}

		&:hover,
		&:focus,
		&:active {
			background-color: inherit;
			color: inherit;
		}
	}
}
