$primary: #443f4a;
$secondary: #736c7a;
$info: #477183;
$warning: #a19a8e;
$body-bg: #212337;
$body-color: #dedee1;
$red: #ff8a75;
$input-group-addon-bg: #fff;
$input-color: #343a40;
$input-placeholder-color: #95999e;

@import '~bootstrap/scss/bootstrap';
